body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
  }
  
  #main {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkblue;
  }
  
  #modal {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  
  .modal-styler {
    background-color: white;
    height: 80vh;
    width: 60vw;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #displayBmi {
    margin-top: 20px;
  }
  
  #closeModal {
    position: absolute;
    top: 10px; 
    right: 10px; 
    font-size: 10px;
    background: red;
    border: none;
    cursor: pointer;
   
  }  